.idea
.vscode
hugging_cache
data
data copy
data_relation
**/__pycache__
examples/WikiBio
examples/wiki_recent
logs
results
output
scripts

# Large files
*.log
*.pdf
*.gif
*.mp4
*.pt
*.pth
*.bin
*.safetensors
*.ckpt
*.pkl
*.png
nohup.out
*.ipynb_checkpoints
tutorial-notebooks/
